:root{
    --color-background : #F0F4FF;
    --elements-color: #99dbff;
    --element-content-color: #b6edff;
    --text-content-color: #221f30;
    --text-title-color: #0e0e0e;
}


html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Cabin', sans-serif;
    margin: 0;
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(255,255,255,1) 28%);   */
    background: var(--color-background);
    overflow-x: hidden;
}

/***WHATSAPP****/
#whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}
#whatsapp img{
    height: 70px;
    transition: 0.6s;
}
#whatsapp img:hover{
    transform: scale(1.3);
}
@media (max-width:380px){
    #whatsapp{
        bottom: 2px;
        right: 2px;
    }
}




/********************************** Beneficios *************************************/
/* #beneficios{
    padding-top: 30px;
    padding-bottom: 100px;
    width: 60%;    
    background-color: #ecf0f0;
    display: flex;    
    flex-direction: column;
    align-items: center;
} */

#beneficios{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    /* background-color: #ecf0f0; */
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 90% !important;
    /* margin-left: 5%; */
    text-align: center;
}


.beneficio{
    background: white;
    box-shadow: 0 0 30px 0 rgb(66 1 131 / 14%);
    width: 200px;
    height: 150px !important;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 19px;
    position: relative;
}

.beneficio .imagen{
    width: 60%;
    height: 60%;
    /* background: rgb(223, 190, 241); */
    background: var(--elements-color);
    box-shadow: 0 0 30px 0 rgb(66 1 131 / 7%);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    
    top: -25%;
    left: -10%;
}


.beneficio img{
    width: 70%;
}

.beneficio p{
    margin: auto;
    width: 80%;
    padding-top: 35%;
    font-size: 19px;
    color: var(--text-content-color);
    text-align: center;
}

.elementos{
    overflow: hidden;
    margin: auto;
    display: flex;
    gap: 40px;
    width: 80%;    
}

.glider-dot{
    display: block;
    width: 15px !important;
    height:15px !important;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 0;
}
.glider-dot:hover{
    opacity: 1;
}

.glider-dot.active{
    background-color: var(--elements-color) !important;
}


/******************************** Funcionamiento **********************************/
#funcionamiento{
    padding-top: 30px;
    padding-bottom: 100px;
    width: 100%;    
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-image: url("../img/vectores/v1.png");
}
#funcionamiento h1{
    margin-top: 0px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--text-content-color);
    padding-bottom: 0;
}

#funcionamiento .pasos{
    position: absolute;
    background-color: var(--elements-color);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50%;
    right: 42%;
    transform: translate(-50%,-50%);
    z-index: 20;
}
#funcionamiento .pasos p{
    color: var(--color-background);
    font-size: 30px;
    font-weight: 900;
}

#funcionamiento .contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    width: 250px;
    height: 850px;
}
#funcionamiento .raya{
    position: absolute;
    width: 3px;
    height: 320%;
    background-color: var(--elements-color);
    top: -160px;
    left: 49.6%;
    z-index: 2 !important;
}

#funcionamiento .contenido{
    position: relative;
    left: 30px;
    width: 90%;
    height: 380px;
    top: 2px !important;

}
.revelar{
    opacity: 0;
    transform: translateY(150px);
    transition: all 2s ease;
}

 .activo{
    transform: translateY(0px);
    opacity: 1;
    z-index: 20;
}

.pasos .imagen{
    left: 105px;
    top: -10px;
    position: absolute  ;
    height: 140px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(227,248,255);
background: radial-gradient(circle, rgba(227,248,255,1) 0%, rgba(240,251,255,1) 35%, rgba(255,255,255,1) 100%);
    box-shadow: 0 0 46px 0 rgb(66 1 131 / 7%);
    padding-bottom:50px;
    border-radius: 10px;
}

.pie-img{
    color: var(--text-content-color) !important;
    font-size: 15px !important;
    margin-top: 2px;
    padding-left: 20px;
    font-weight: 500 !important;
}

.dos .imagen{
    left: -250px;
} 

@media (max-width:615px) {
    .pasos .imagen{
        left: 70px;
        height: 140px;
        width: 155px;
        z-index: -10;
    }
    .pasos .contenido{
        right: 100px !important;
    }
    #funcionamiento{
        align-items: baseline;    
        margin-bottom: 20%;
    }
    #funcionamiento h1{
        padding: 10px 10px;
        font-size: 25px;
    }
    #funcionamiento .contenedor{
        width: 65%;
        align-items: baseline;
    }
    #funcionamiento img{
        height: 110px;
    }
    .grande{
        height: 80px !important;
    }
}











/****************Mis proyectos*************/
#mis-proyectos{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #12223D;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    border: 0;
    overflow: hidden;
}

#mis-proyectos h3{
    margin-top: -40px;
    margin-bottom: 50px;
    color: #ecf0f0;
    font-size: 35px;
}

#mis-proyectos img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#mis-proyectos .proyecto{
    position: relative;
    height: 420px;
    width: 324px;    
    border-radius: 15px;
    left: -4%;
    background: rgb(157,0,0);
background: linear-gradient(45deg, rgba(35,90,165,0.95) 25%, rgba(145,220,220,0.95) 100%);
}

#mis-proyectos .contenido{
    margin-left: 10px;
    margin-right: 5px;
}

#mis-proyectos a{
    position: absolute;
    background: #297ec2;
    text-decoration: none;
    color: #ecf0f0;
    border-radius: 10px;
    padding: 5px 15px;
    left: 10px;
    bottom: 10px;
    transition: 0.5s;
}
#mis-proyectos a:hover{
    font-size: 19px;
}
#mis-proyectos p{
    color: #ecf0f0;
    margin-top: 0px;
}
#mis-proyectos h4{
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.swiper-container {
    width: 100%;
}

.swiper-container h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
  .swiper-slide {
    width: 304px !important;
    filter: blur(2px);
  }

  .swiper-slide-active{
    filter: blur(0px);
}

  .swiper-slide-active .contenedor-proyecto-ipn{
      filter: blur(0px);
      background-image: url(../img/ipn.gif) !important;
  }

#mis-proyectos .contenedor-proyecto-ipn{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 152px;
    background-image: url(../img/ipnFull.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    transition: 2s ease background-image;
}

#mis-proyectos .contenedor-proyecto-trobify{
  z-index: 4 !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 151px;
  background-image: url(../img/trobify.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  transition: 2s ease background-image;
}

.swiper-slide .videoTrobify{
    display: none;
}
.swiper-slide-active .videoTrobify{
    filter: blur(0px);
    display: block;
    height: 151px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


#mis-proyectos .contenedor-proyecto-KSInversiones{
  z-index: 4 !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 151px;
  background-image: url(../img/KSInversiones.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  transition: 2s ease background-image;
}

.swiper-slide .videoKSInversiones{
    display: none;
}
.swiper-slide-active .videoKSInversiones{
    filter: blur(0px);
    display: block;
    height: 151px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}








.blur#mis-proyectos.active{
    filter: blur(20px);
}

#popup{
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 15%;
    background-color: #225aa5;
    width: 70%;
    height: 80%;
    border-radius: 15px;
    z-index: 201;
    /* border: 2px solid #000; */
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

#popup .contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#popup.active{
    visibility: visible;
    opacity: 1;
    top: 12%;
}

#popup .contenido iframe{
    position: absolute;
    top: 0px;
    height: 90%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

#popup a{
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    background: #297ec2;
    color: #ecf0f0;
    top: 92%;
    font-size: 25px;
    border-radius: 10px;
    padding: 2px 14px;
}

@media (max-width:785px){
    #popup a{
        font-size: 20px;
    }
    footer{
        height: 95vh;
    }
    footer .contenedor{
        padding-left: 10%;
        display: grid;
        grid-template-columns: 90%;
    }
}









/*************CONTACTO******************/
#contacto{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#contacto h2{
    margin: auto;
    width: 85%;
    text-align: center;
    font-size: 29px;
    margin-bottom: 15px;
    font-weight: 500;
}

.contenedor-contacto{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 30px 0 rgb(66 1 131 / 14%);
    width: 400px;
    height: 470px;
    border-radius: 10px;
    padding: 20px;
}

#contacto h1{
    color: var(--text-title-color);
    font-size: 35px;
}

#contacto .contenedor-campos{
    margin: auto;
    width: 90%;
    height: 80%;
    position: relative;
    display:flex;
    justify-content: center;
}

#contacto .campo{
    margin: auto;
    width: 350px;
    margin-bottom: 35px;
    margin-top: -15px;
}

#contacto .campo p{
    margin-bottom: 5px;
    font-weight: 100;
    color: var(--text-content-color);
    text-align: left;
    margin-left: -3px;
}

#contacto input,textarea{
    width: 100%;
    margin-left: -4px;
    border-radius: 6px;
    padding: 4px;
    border: 1px solid rgb(141, 141, 141);
}

#contacto input::placeholder,textarea::placeholder{
    color: rgb(173, 173, 173);
    font-weight: 100;
}



#contacto textarea{
    outline: none;
    resize: none;
    height: 55px;
}

#contacto form{
    margin: auto;
    margin-top: 0px;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contacto button{
    background-color: #00CFDE;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    width: 120px;
    height: 40px;
    padding: 5px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
    transition: background-color ease-in-out 0.5s;
    transition: transform ease-in-out 0.5s;
}

#contacto button:hover{
    background-color: #34d4e9;
    transform: scale(1.02);
}

@media (max-width:470px){
    .contenedor-contacto{
        width: 70%;
        padding-top: 10px;
    }
    #contacto .campo{
        width: 90%;        
    }
}

@media (max-width:330px){
    .contenedor-contacto{
        height: 500px;
    }
}
