.slider-services{
    padding: 1.5rem;
}

.service-container{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    align-items: center;
    justify-content: center;    
}

.service-image{
    display: flex;
    align-items: center;
}
.service-image img{
    width: 90%;
    margin: auto;
}
.services-container{
    text-align: justify;
    width: 100%;
    padding: 1rem;
}

.services-container h2{
    color: #007aff;
    text-align: justify;
    font-size: 30px;
}
.services-container h3{
    font-size: 44px;
    text-align: left;
    margin: 0;

}

.services-container p{
    font-size: 24px;
    text-align: left;
    
}


.service{
    display: grid;
    width: 100%;
    align-items: flex-start;
    justify-content: initial;
    text-align: justify;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0 0 30px 0 rgb(66 1 131 / 14%);
    -moz-box-shadow: 0 0 30px 0 rgb(66 1 131 / 14%);
    box-shadow: 0 0 30px 0 rgb(66 1 131 / 14%);

}

.service img{
    width: 80px;
}

@media (max-width:778px) {
    
    .service-container{
        grid-template-columns: 100%;
    }

}

